<a id="settings" href="/settings"><button align="right" class="btn" onclick=""><i class="fa fa-cog"></i>Settings</button></a> 
		<a id='help' href='/help'>
			<button class="btn" style="float: right;"><i class="glyphicon glyphicon-question-sign"></i></button></a>