.fruit {
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 5px; 
    border-color: rgb(21, 196, 21);
}

a.homepage {
	background-color: #05ffb0;
	color: #203E09;
	font-family: "Comic Sans MS";

}

a.homepage:visited {
	color: #901CB3;
}