.fruit {
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 5px; 
    border-color: rgb(21, 196, 21);
}

a.homepage {
	background-color: #05ffb0;
	color: #203E09;
	font-family: "Comic Sans MS";

}

a.homepage:visited {
	color: #901CB3;
}

#bg1 {
	background-image: url('/fruits/home_background.jpg');
	background-size: 100%;
}

#bg2 {
	background-image: url('/fruits/blue_background.jpg');
	background-size: 100px 100px;
}